@tailwind base;
@tailwind components;
@tailwind utilities;

/* @property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
} */

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}

:root {
  --clr-2: #003d7e;
  --clr-3: #5ddcff;
  --clr-4: #3c67e3;
  --clr-5: #4e00c2;
}

@layer utilities {
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    inset: -0.3rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
    );
    border-radius: inherit;
    animation: rotation 4s linear infinite;
  }

  .card::after {
    filter: blur(1rem);
  }

  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
}
